# 목표
- 사이킷런 사용법 숙지
- 잡 가격 데이터 학습해서 예측해보자
- 올바른 모델 평가방법을 알아보자

### 모델 정의

In [1]:
from sklearn.tree import DecisionTreeRegressor

In [2]:
# 항상 똑같은 모양의 나무 모양을 유지시키기 위해 랜덤숫자 고정
house_model=DecisionTreeRegressor(random_state=203)

In [3]:
import pandas as pd

### 학습

In [4]:
house_data=pd.read_csv("melb_data.csv")

In [5]:
# 데이터 프레임 정보 요약
display(house_data.info())
display(house_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

None

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [6]:
# 문제 : Rooms, Bathroom, Landsize, Lattitude, Longtitude
# 답 : price
X=house_data[["Rooms","Bathroom", "Landsize", "Lattitude", "Longtitude"]]
y=house_data["Price"]

In [7]:
print(X.shape)
print(y.shape)

(13580, 5)
(13580,)

### 기술 통계

In [8]:
X.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350

In [9]:
y.describe()

count    1.358000e+04
mean     1.075684e+06
std      6.393107e+05
min      8.500000e+04
25%      6.500000e+05
50%      9.030000e+05
75%      1.330000e+06
max      9.000000e+06
Name: Price, dtype: float64

In [10]:
# 학습 함수
house_model.fit(X,y)

DecisionTreeRegressor(random_state=203)

# 예측

In [21]:
X_samples=X.iloc[:5000,:]  #iloc [행, 열]
y_samples=y.iloc[:5000]
display(X_samples)
display(y_samples)

      Rooms  Bathroom  Landsize  Lattitude  Longtitude
0         2       1.0     202.0   -37.7996    144.9984
1         2       1.0     156.0   -37.8079    144.9934
2         3       2.0     134.0   -37.8093    144.9944
3         3       2.0      94.0   -37.7969    144.9969
4         4       1.0     120.0   -37.8072    144.9941
...     ...       ...       ...        ...         ...
4995      3       1.0     192.0   -37.7277    144.9851
4996      3       1.0     495.0   -37.7521    145.0114
4997      2       1.0     266.0   -37.7423    145.0105
4998      3       1.0     621.0   -37.7415    145.0084
4999      2       2.0     415.0   -37.7481    145.0017

[5000 rows x 5 columns]

0       1480000.0
1       1035000.0
2       1465000.0
3        850000.0
4       1600000.0
          ...
4995     605000.0
4996     890000.0
4997     790000.0
4998    1000000.0
4999     860000.0
Name: Price, Length: 5000, dtype: float64

In [27]:
pre=house_model.predict(X_samples) # 예측할 샘플 데이터(키, 몸무게)
pre

array([1480000., 1035000., 1465000., ...,  790000., 1000000.,  860000.])

In [33]:
y_samples[0]

1480000.0

### 평가
- 수치형 데이터는 오차기반의 평가를 사용
- 평균절대값오차(Mean Absoulte Error)

In [34]:
from sklearn.metrics import mean_absolute_error

In [35]:
result=mean_absolute_error(y_samples, pre)
print(result)

1380.7166666666667

In [39]:
# 활용
house_model.predict([[3,1,200,-37,144]])

array([439000.])

### 올바른 평가를 이해 훈련, 평가 데이터 나누기

In [42]:
from sklearn.model_selection import train_test_split # 랜덤샘플링

In [57]:
X_train, X_test, y_train, y_test=train_test_split(X,y,random_state=203)

In [58]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(10185, 5) (10185,)
(3395, 5) (3395,)

In [59]:
house_model.fit(X_train, y_train)

DecisionTreeRegressor(random_state=203)

In [60]:
#예측
pre=house_model.predict(X_test)

In [61]:
mean_absolute_error(y_test, pre)

247448.44177712323