# 모델정의

In [1]:
from sklearn.neighbors import KNeighborsClassifier

In [2]:
bmi_model=KNeighborsClassifier(n_neighbors=5)

# 학습

In [4]:
import pandas as pd

In [6]:
bmi_data=pd.read_csv("bmi_lbs.csv")

In [8]:
bmi_data.head(10)# 2차원 데이터 타입인 테이터 프레임

             Label  Gender  Height  Weight(lbs)
0          Obesity    Male     174     211.6416
1           Normal    Male     189     191.8002
2          Obesity  Female     185     242.5060
3       Overweight  Female     195     229.2784
4       Overweight    Male     149     134.4806
5       Overweight    Male     189     229.2784
6  Extreme Obesity    Male     147     202.8232
7  Extreme Obesity    Male     154     244.7106
8       Overweight    Male     174     198.4140
9          Obesity  Female     169     227.0738

In [10]:
#데이터 전처리 (lbs-> kg)
bmi_data["Weight(kg)"]=bmi_data["Weight(lbs)"]*0.453

In [11]:
bmi_data

               Label  Gender  Height  Weight(lbs)  Weight(kg)
0            Obesity    Male     174     211.6416   95.873645
1             Normal    Male     189     191.8002   86.885491
2            Obesity  Female     185     242.5060  109.855218
3         Overweight  Female     195     229.2784  103.863115
4         Overweight    Male     149     134.4806   60.919712
..               ...     ...     ...          ...         ...
495  Extreme Obesity  Female     150     337.3038  152.798621
496          Obesity  Female     184     266.7566  120.840740
497  Extreme Obesity  Female     141     299.8256  135.820997
498  Extreme Obesity    Male     150     209.4370   94.874961
499  Extreme Obesity    Male     173     288.8026  130.827578

[500 rows x 5 columns]

In [14]:
# weight를 실수 -> 정수로
bmi_data["Weight(kg)"]= bmi_data["Weight(kg)"].astype("int32")

In [15]:
bmi_data.head()

        Label  Gender  Height  Weight(lbs)  Weight(kg)
0     Obesity    Male     174     211.6416          95
1      Normal    Male     189     191.8002          86
2     Obesity  Female     185     242.5060         109
3  Overweight  Female     195     229.2784         103
4  Overweight    Male     149     134.4806          60

In [23]:
# 학습할 문제와 답으로 분리
# x에다 멀넣야된다고?  키 몸무게 둘다 넣은다고?
# 그럼 y는 머지?
X=bmi_data[["Height", "Weight(kg)"]]
y=bmi_data["Label"]

In [24]:
print(X.shape)
print(y.shape)

(500, 2)
(500,)

In [26]:
bmi_model.fit(X,y)

KNeighborsClassifier()

In [27]:
X_samples=X.iloc[105:110] # .iloc[행,열]
y_samples=y.iloc[105:110]
display(X_samples)
display(y_samples)

     Height  Weight(kg)
105     195         125
106     166         159
107     159         153
108     181         105
109     149          65

105            Obesity
106    Extreme Obesity
107    Extreme Obesity
108            Obesity
109         Overweight
Name: Label, dtype: object

In [29]:
pre=bmi_model.predict(X_samples) # 예측할 샘플 데이터(키, 몸무게)
pre

array(['Obesity', 'Extreme Obesity', 'Extreme Obesity', 'Obesity',
       'Overweight'], dtype=object)

#  평가
- 정확도 : 예측한 전체 데이터 중에 정확히 맞춘 데이터의 비율

In [30]:
from sklearn.metrics import accuracy_score

In [31]:
score=accuracy_score(y_samples,pre)# 실제 정답, 모델의 예측 값

In [32]:
print(score)

1.0

In [38]:
# 활용
bmi_model.predict([[180,90]])

array(['Overweight'], dtype=object)

NameError: name 'mglearn' is not defined

ModuleNotFoundError: No module named 'preamble'

ERROR: Could not find a version that satisfies the requirement preamble (from versions: none)
ERROR: No matching distribution found for preamble